<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite verbose="2" name="Task 2">
    <test name="get/post api test">
        <parameter name="post_number" value="99"/>
        <parameter name="user_number" value="5"/>
        <parameter name="empty_post_number" value="150"/>
        <classes>
            <class name="RestAPITest"/>
        </classes>
    </test>
</suite>